body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.validate-true {
  background-color: chartreuse;
}

.validate-false {
  background-color: red;
}

table {
  margin-bottom: 3%;
}

button, input {
  display: inline-block;
  border-radius: 20px;
  color: white; 
  font-size: large;
  padding: 2% 4%;
  background: linear-gradient(145deg, #24282f, #2b2f38);
  box-shadow:  24px 24px 49px #22252c,
              -24px -24px 49px #2e333c;
}

.modal {
  width: 100%;
  height: 70%;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 17.5px );
  -webkit-backdrop-filter: blur( 17.5px );
  border-radius: 10px;
  border: 1.5px solid rgba( 255, 255, 255, 0.18 );
  text-align: center;
}